In [6]:
%matplotlib inline
%config InlineBackend.figure_format='retina'

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
#from pivottablejs import pivot_ui
import sys
import warnings

warnings.filterwarnings("ignore")

In [4]:
# Load

In [70]:
df = pd.read_csv("../data/free-goods-201909ytd.csv")

In [71]:
df.head().T

                          0         1         2         3         4
mnth                      9         9         9         9         9
doc_type                 SO        SO        SE        SO        SE
csr                  BMAR04    BMAR04      ANUR    BMAR04    WBINNI
OrderSourceCode           T         T         W         T         E
PriceMethod               Q         Q         Q         Q         Q
vpa                CAPPROGM  CAPPROGM   DR09FCS  CAPPROGM   DR05TCS
SalesDivision           AAD       AAD       AAD       AAD       AAD
MajorProductClass       013       013       013       010       010
price_adj               NaN       NaN       NaN       NaN       NaN
supplier             MEDICM    MEDICM    MEDICM    JINSTR    JINSTR
StockingType              S         S         S         S         S
category              MERCH     MERCH     MERCH     MERCH     MERCH
Label                     P         P         P         P         P
mpc                     013       013       013       010       010
MarketClass_New      PVTPRC    PVTPRC    PVTPRC    PVTPRC    PVTPRC
specialty              GENP      GENP      GENP      GENP      GENP
fg_act_ind                1         1         1         1         1
fg_redeem_ind             0         0         0         0         0
fg_doc_type_ind           1         1         1         1         1
fg_ord_src_ind            1         1         1         1         1
fg_vpa_ind                0         0         0         0         0
Shipto              3841619   3013054   2809264   3841619   3682640
item                1043809   1043809   1043809   1042350   1042350
SalesOrderNumber   12581892  12620399  12638884  12581892  12594684
ShippedQty                1         1         2         1         1
ext_file_cost          1.64      1.64      3.26      6.53      6.53

In [57]:
df.groupby('mnth').sum()

,fg_act_ind,fg_redeem_ind,fg_doc_type_ind,fg_ord_src_ind,fg_vpa_ind,ShippedQty,ext_file_cost
mnth,,,,,,,
1,13422.0,6446.0,13421.0,12748.0,563.0,38777,1070803.83
2,9712.0,4696.0,9712.0,9148.0,432.0,28912,713251.64
3,16903.0,8616.0,16903.0,16108.0,606.0,47496,1538650.65
4,12097.0,4997.0,12096.0,11377.0,562.0,34688,1102664.01
5,17546.0,9311.0,17546.0,16796.0,669.0,54176,1945879.84
6,15034.0,7248.0,15033.0,14263.0,512.0,47704,1637488.80
7,11838.0,5065.0,11830.0,11119.0,570.0,36524,1106500.47
8,11792.0,4684.0,11792.0,10985.0,677.0,36077,1087284.41
9,13567.0,6.0,13565.0,12820.0,653.0,43770,1398660.68

In [52]:
df.describe()

                mnth     ShippedQty  ext_file_cost
count  121911.000000  121911.000000  121911.000000
mean        4.996940       3.019613      95.161096
std         2.509034       5.930934     889.746432
min         1.000000     -72.000000  -76826.700000
25%         3.000000       1.000000      14.730000
50%         5.000000       2.000000      30.460000
75%         7.000000       3.000000      68.270000
max         9.000000     480.000000   74041.670000

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121911 entries, 0 to 121910
Data columns (total 26 columns):
mnth                 121911 non-null int64
doc_type             121911 non-null object
csr                  121911 non-null object
OrderSourceCode      121911 non-null object
PriceMethod          121911 non-null object
vpa                  89514 non-null object
SalesDivision        121911 non-null object
MajorProductClass    121911 non-null object
price_adj            29155 non-null object
supplier             121911 non-null object
StockingType         121911 non-null object
category             121911 non-null object
Label                121911 non-null object
mpc                  121911 non-null object
MarketClass_New      121911 non-null object
specialty            121911 non-null object
fg_act_ind           121911 non-null int64
fg_redeem_ind        121911 non-null int64
fg_doc_type_ind      121911 non-null int64
fg_ord_src_ind       121911 non-null int64
fg_vpa_ind           121911 non-null int64
Shipto               121911 non-null int64
item                 121911 non-null int64
SalesOrderNumber     121911 non-null int64
ShippedQty           121911 non-null int64
ext_file_cost        121911 non-null float64
dtypes: float64(1), int64(10), object(15)
memory usage: 24.2+ MB

In [73]:
df['fg_act_ind'] = df['fg_act_ind'].astype('bool')
df['fg_redeem_ind'] = df['fg_redeem_ind'].astype('bool')
df['fg_doc_type_ind'] = df['fg_doc_type_ind'].astype('bool')
df['fg_ord_src_ind'] = df['fg_ord_src_ind'].astype('bool')
df['fg_vpa_ind'] = df['fg_vpa_ind'].astype('bool')

In [74]:
df['doc_type'] = df['doc_type'].astype('category')
df['csr'] = df['csr'].astype('category')
df['OrderSourceCode'] = df['OrderSourceCode'].astype('category')
df['PriceMethod'] = df['PriceMethod'].astype('category')
df['vpa'] = df['vpa'].astype('category')

df['SalesDivision'] = df['SalesDivision'].astype('category')
df['MajorProductClass'] = df['MajorProductClass'].astype('category')
df['category'] = df['category'].astype('category')
df['Label'] = df['Label'].astype('category')

df['MarketClass_New'] = df['MarketClass_New'].astype('category')
df['specialty'] = df['specialty'].astype('category')
df['StockingType'] = df['StockingType'].astype('category')
df['price_adj'] = df['price_adj'].astype('category')

In [75]:
df = df.drop(["Shipto", "item", "SalesOrderNumber"], axis=1)

In [77]:
df.head().T

                          0         1        2         3        4
mnth                      9         9        9         9        9
doc_type                 SO        SO       SE        SO       SE
csr                  BMAR04    BMAR04     ANUR    BMAR04   WBINNI
OrderSourceCode           T         T        W         T        E
PriceMethod               Q         Q        Q         Q        Q
vpa                CAPPROGM  CAPPROGM  DR09FCS  CAPPROGM  DR05TCS
SalesDivision           AAD       AAD      AAD       AAD      AAD
MajorProductClass       013       013      013       010      010
price_adj               NaN       NaN      NaN       NaN      NaN
supplier             MEDICM    MEDICM   MEDICM    JINSTR   JINSTR
StockingType              S         S        S         S        S
category              MERCH     MERCH    MERCH     MERCH    MERCH
Label                     P         P        P         P        P
mpc                     013       013      013       010      010
MarketClass_New      PVTPRC    PVTPRC   PVTPRC    PVTPRC   PVTPRC
specialty              GENP      GENP     GENP      GENP     GENP
fg_act_ind             True      True     True      True     True
fg_redeem_ind         False     False    False     False    False
fg_doc_type_ind        True      True     True      True     True
fg_ord_src_ind         True      True     True      True     True
fg_vpa_ind            False     False    False     False    False
ShippedQty                1         1        2         1        1
ext_file_cost          1.64      1.64     3.26      6.53     6.53

In [83]:
df.to_pickle("../data/free-goods-201909ytd.pickel")