# JDE ETL Source Design
## Goal:  Generate source SQL with friendly names, mapped to IT table fields

In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import os, sys
import warnings

warnings.filterwarnings('ignore')

## Setup DB Connection and retrieve table metadata

### Input Parameters

In [2]:
sql_connection_str = 'mssql+pymssql://sql2srv:Password1@CAHSIONNLSQL2.ca.hsi.local:1433/BRSales'
sql_link_server = 'ESYS_QA'
sql_lib = 'ARCPDTA93'
# ARC | P | 

# update Tablename
sql_table = 'F9860'

# F4072 F4101 F5613 F4072 F4094 F5830 F5831 F5832 F8444

In [3]:
engine = create_engine(sql_connection_str)

In [4]:
sql_meta = '''

SELECT * from OPENQUERY ({}, '	
	SELECT
		*
	FROM
		QSYS2.SYSCOLUMNS
	WHERE
        TABLE_SCHEMA = ''{}'' AND
		TABLE_NAME in( ''{}'')
    ORDER BY 
        ORDINAL_POSITION
')

''' .format(sql_link_server, sql_lib, sql_table)

In [5]:
df = pd.read_sql_query(sql_meta, engine);

### Cleanup field information

df.TABLE_SCHEMA.unique()

array(['HSICDCPROD', 'HSIPDTA93', 'ARCCDCPROD', 'PGMRWORK', 'JDEDTA93',
       'ARCPDTA93', 'ARCPDTA94', 'HSIPDTA93S', 'HSIPDTA71', 'ARCPDTA71'], dtype=object)

In [6]:
print (sql_meta)

SELECT * from OPENQUERY (ESYS_QA, '
	SELECT
		*
	FROM
		QSYS2.SYSCOLUMNS
	WHERE
        TABLE_SCHEMA = ''ARCPDTA93'' AND
		TABLE_NAME in( ''F9860'')
    ORDER BY
        ORDINAL_POSITION
')

In [7]:
print(df.dtypes)
df

COLUMN_NAME                 object
TABLE_NAME                  object
TABLE_OWNER                 object
ORDINAL_POSITION            object
DATA_TYPE                   object
LENGTH                      object
NUMERIC_SCALE               object
IS_NULLABLE                 object
IS_UPDATABLE                object
LONG_COMMENT                object
HAS_DEFAULT                 object
COLUMN_HEADING              object
STORAGE                     object
NUMERIC_PRECISION           object
CCSID                       object
TABLE_SCHEMA                object
COLUMN_DEFAULT              object
CHARACTER_MAXIMUM_LENGTH    object
CHARACTER_OCTET_LENGTH      object
NUMERIC_PRECISION_RADIX     object
DATETIME_PRECISION          object
COLUMN_TEXT                 object
SYSTEM_COLUMN_NAME          object
SYSTEM_TABLE_NAME           object
SYSTEM_TABLE_SCHEMA         object
USER_DEFINED_TYPE_SCHEMA    object
USER_DEFINED_TYPE_NAME      object
IS_IDENTITY                 object
IDENTITY_GENERATION         object
IDENTITY_START              object
IDENTITY_INCREMENT          object
IDENTITY_MINIMUM            object
IDENTITY_MAXIMUM            object
IDENTITY_CYCLE              object
IDENTITY_CACHE              object
IDENTITY_ORDER              object
COLUMN_EXPRESSION           object
HIDDEN                      object
HAS_FLDPROC                 object
dtype: object

Empty DataFrame
Columns: [COLUMN_NAME, TABLE_NAME, TABLE_OWNER, ORDINAL_POSITION, DATA_TYPE, LENGTH, NUMERIC_SCALE, IS_NULLABLE, IS_UPDATABLE, LONG_COMMENT, HAS_DEFAULT, COLUMN_HEADING, STORAGE, NUMERIC_PRECISION, CCSID, TABLE_SCHEMA, COLUMN_DEFAULT, CHARACTER_MAXIMUM_LENGTH, CHARACTER_OCTET_LENGTH, NUMERIC_PRECISION_RADIX, DATETIME_PRECISION, COLUMN_TEXT, SYSTEM_COLUMN_NAME, SYSTEM_TABLE_NAME, SYSTEM_TABLE_SCHEMA, USER_DEFINED_TYPE_SCHEMA, USER_DEFINED_TYPE_NAME, IS_IDENTITY, IDENTITY_GENERATION, IDENTITY_START, IDENTITY_INCREMENT, IDENTITY_MINIMUM, IDENTITY_MAXIMUM, IDENTITY_CYCLE, IDENTITY_CACHE, IDENTITY_ORDER, COLUMN_EXPRESSION, HIDDEN, HAS_FLDPROC]
Index: []

[0 rows x 39 columns]

In [8]:
df2 = df[['ORDINAL_POSITION', 'COLUMN_NAME', 'COLUMN_TEXT', 'DATA_TYPE','LENGTH', 'NUMERIC_PRECISION']]

remove trailing dots, special characters, and converto to lower_case

In [9]:
df2.COLUMN_TEXT = df2.COLUMN_TEXT.str.rstrip('. ').str.replace(r'[^0-9|a-z|_|" "]','', case=False).str.replace('  ',' ').str.lower().str.replace(' ','_')

### Create SQL select mapping

In [10]:
sql_field_sel = ', '.join([x if y != 'DECIMAL' else 'DECIMAL({}/10000,10,4) as {}'.format(x,x) for x, y in zip(df2['COLUMN_NAME'], df2['DATA_TYPE'])])
sql_field_map = ', '.join(['"{}" AS {}'.format(x,y if not str.isdigit(y[0]) else "_" + y)  for x, y in zip(df2['COLUMN_NAME'], df2['COLUMN_TEXT'])])

In [11]:
sql_output = '''

SELECT 

    TOP 5 {} 
    
FROM 

    OPENQUERY ({}, '

	SELECT
		{}
        
	FROM
		{}.{}
')

'''.format(sql_field_map, sql_link_server, sql_field_sel, sql_lib, sql_table)

In [12]:
print(sql_output)

SELECT

    TOP 5

FROM

    OPENQUERY (ESYS_QA, '

	SELECT


	FROM
		ARCPDTA93.F9860
')

### Output Table

In [13]:
df_output = pd.read_sql_query(sql_output, engine);

OperationalError: (pymssql.OperationalError) (156, b"Incorrect syntax near the keyword 'FROM'.DB-Lib error message 20018, severity 15:\nGeneral SQL Server error: Check messages from the SQL Server\n") [SQL: "\n\nSELECT \n\n    TOP 5  \n    \nFROM \n\n    OPENQUERY (ESYS_QA, '\n\n\tSELECT\n\t\t\n        \n\tFROM\n\t\tARCPDTA93.F9860\n')\n\n"]

In [ ]:
df_output.T

### Next steps...
Add SQL to SQL Tools data package